<template>
  <div class="header">
    <router-link to="/">
      <h1>#tiktokotkit</h1>
    </router-link>
  </div>
</template>

<script>
export default {
  name: 'HeaderComponent'
}
</script>

<style scoped>
  .header {
    text-align: center;
    margin: 40px;
  }
  .header > a {
    color: #000;
    text-decoration: none;
  }
</style>
