<template>
  <div class="wrapper-card-vid">
    <router-link :to="$props.type == 'hashtag' ? '/challenge/' + idChallenge : '/music/' + idChallenge" :title="$props.title" class="format-tag-a">
      <h2 v-if="$props.title != undefined" class="text-bold">
        <span v-if="$props.type == 'music'"><i class="icon-music"></i></span>
        {{ $props.type == 'hashtag' ? '#' + $props.title : $props.title }}
      </h2>
    </router-link>
      <h2 v-if="$props.title == undefined" class="text-bold">{{ titleChallenge }}</h2>
    <h4>{{ $props.description || desChallenge }}</h4>
    <div class="row">
      <div class="col-lg-4 col-md-6 grid-content" v-for="video in $props.videos" :key="video.aweme_id">
        <div class="video">
          <video class="video-hidden"></video>
          <img class="image" v-if="browser.name == 'firefox'" :src="video.video.origin_cover ? video.video.origin_cover.url_list[1] : video.video.cover.url_list[0]">
          <img class="image" v-else :src="video.video.dynamic_cover.url_list[0].replace('http://', 'https://')">
          <div class="opacity">
            <div class="content">
              <div class="top">
                <div class="btn-menu float-right" @click="btnMenuClick">
                  <i class="icon-angle-down"></i>
                </div>
                <div class="top-hidden">
                  <ul>
                    <li v-for="text in video.cha_list" :key="text.cid + Math.floor(Math.random() * 500)" v-if="text.cid">
                      <router-link v-if="text.cid" :to="'/challenge/' + text.cid" ref="link">#{{ text.cha_name }}</router-link>
                      {{ (textList = text)  ? '' : ''}}
                    </li>
                    <li v-for="text in video.text_extra" :key="text.user_id + Math.floor(Math.random() * 500)" v-else>
                      <router-link v-if="text.hashtag_id" :to="'/challenge/' + text.hashtag_id" ref="link">#{{ text.hashtag_name }}</router-link>
                    </li>
                    <li v-if="video.music"><router-link :to="'/music/' + (video.music.mid)">posts of music</router-link></li>
                    <li><router-link :to="'/user/' + (video.author_user_id || video.author.uid)">user info</router-link></li>
                    <li><a :href="video.video.play_addr.url_list[1]" target="_blank"><i class="icon-download"></i> download</a></li>
                  </ul>
                </div>
              </div>
              <div class="center">
                <div class="btn-play">
                  <i class="icon-play" @click="videoClickPlay(video.video.play_addr.url_list[1], $event)"></i>
                </div>
              </div>
              <div class="bottom">
                <h4 class="break-word">{{ video.desc }}</h4>
                <div class="float-right">
                  <span><i class="icon-heart"></i> {{ video.statistics.digg_count }}</span>
                  <span><i class="icon-comment"></i> {{ video.statistics.comment_count }}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="wrap-click" @click="videoClickPause"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
let { detect } = require('detect-browser')
export default {
  props: ['title', 'description', 'videos', 'idChallenge', 'type'],
  name: 'CardVideoComponent',
  data() {
    return{
      titleChallenge: null,
      desChallenge: null,
      textList: null,
      checkNull: false,
      browser: detect()
    }
  },
  watch: {
    textList() {
      if (this.checkNull == false) {
        if (this.textList.cid == this.$route.params.id) {
          this.titleChallenge = '#' + this.textList.cha_name
          document.title = '#' + this.textList.cha_name
          this.desChallenge = this.textList.desc
        }
      }
    },
    $route() {
      this.checkNull = false
      this.titleChallenge = null
      this.desChallenge = null
    }
  },
  methods: {
    videoClickPlay(url,e) {
      let parent = e.target.closest('.video')
      let video = parent.querySelector('video')
      let image = parent.querySelector('.image')
      let content = parent.querySelector('.opacity')
      let wrapClick = parent.querySelector('.wrap-click')
      if (video.src == '') {
        url = url.replace('http://', 'https://')
        video.src = url
        video.onloadeddata = () => {
          content.style.display = 'none'
          image.style.display = 'none'
          wrapClick.style.display = 'block'
          video.style.display = 'block'
          video.play()
        }
      } else {
        if (video.paused) {
          content.style.display = 'none'
          wrapClick.style.display = 'block'
          video.play()
        }
      }
      video.onended = () => {
        content.style.display = 'block'
        wrapClick.style.display = 'none'
      }
    },
    videoClickPause(e) {
      let parent = e.target.closest('.video')
      let video = parent.querySelector('video')
      let content = parent.querySelector('.opacity')
      let wrapClick = parent.querySelector('.wrap-click')
      if (!video.paused) {
        content.style.display = 'block'
        wrapClick.style.display = 'none'
        video.pause()
      }
    },
    btnMenuClick(e) {
      let parent = e.target.closest('.top')
      let topHidden = parent.querySelector('.top-hidden')
      topHidden.classList.toggle('show-hidden')
      parent.querySelector('.btn-menu').classList.toggle('spin-top')
    }
  }
}
</script>

<style scoped>
  @import url('./style.css');
</style>
