.video {
  position: relative;
  box-shadow: 0px 2px 8px 0px black;
  display: grid;
}
.video > video {
  width: 100%;
}
.video > .image {
  width: 100%;
}
.row {
  margin-top: 15px;
}
.opacity {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  z-index: 11;
  padding: 5px;
}
.opacity:hover {
  background: rgba(0, 0, 0, 0.6);
}
.opacity:hover .btn-play {
  display: block;
}
.opacity:hover .btn-menu {
  display: block;
}
.wrap-click {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1111;
  display: none;
}
.content {
  color: #fff;
  position: relative;
  width: 100%;
  height: 100%;
}
.bottom {
  position: absolute;
  bottom: 5px;
  width: 100%;
}
.grid-content {
  margin: 15px 0;
}
.wrapper-card-vid {
  margin-top: 20px;
}
.text-bold {
  font-weight: 400;
}
.float-right {
  float: right;
}
.btn-menu {
  padding: 6px;
  cursor: pointer;
  z-index: 11111;
  display: none;
  transition: .5s;
}
.btn-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11111;
  display: none;
}
.btn-play > i {
  font-size: 30px;
  cursor: pointer;
}
.video-hidden {
  display: none;
}
.top {
  position: relative;
}
.top-hidden {
  background: #fff;
  padding: 10px;
  color: #000;
  position: absolute;
  right: 0;
  top: 40px;
  border-radius: 3px;
  z-index: 11111;
  display: none;
}
.top-hidden > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  user-select: none;
}
.top-hidden > ul > li {
  text-align: right;
}
.show-hidden {
  display: block !important;
}
.spin-top {
  transform: rotate(180deg)
}
.format-tag-a {
  text-decoration: none;
  color: #000;
}
.break-word {
  word-wrap: break-word;
}