<template>
  <div class="wrapper-content">
    <div infinite-wrapper>
      <card-video-component
      :videos="fetchData" />
    </div>
    <infinite-loading @infinite="infiniteHandler" force-use-infinite-wrapper="true" ref="infiniteLoading">
      <span slot="no-more">
        No more
      </span>
    </infinite-loading>
  </div>
</template>

<script>
import CardVideoComponent from '@/components/Templates/CardVideoComponent'
import InfiniteLoading from 'vue-infinite-loading'
export default {
  components: {
    CardVideoComponent,
    InfiniteLoading
  },
  data() {
    return {
      params: null,
      fetchData: [],
      cursor: 0
    }
  },
  watch: {
    $route() {
      this.fetchData = []
      this.cursor = 0
      this.$nextTick(() => {
        this.$refs.infiniteLoading.$emit('$InfiniteLoading:reset')
      })
    }
  },
  methods: {
    infiniteHandler($state) {
      let id = this.$route.params.id
      this.params = this.$route.params
      fetch(`https://uchin.ml/api/challenge/${id}/${this.cursor}`).then(e => e.json()).then(e => {
        if (e.aweme_list.length == 0)
          $state.complete()
        e.aweme_list.forEach(e => {
          this.fetchData.push(e)
        })
        $state.loaded()
      })
      this.cursor ++
    }
  }
}
</script>
