<template>
  <div class="wrapper-content">
    <div infinite-wrapper>
      <card-video-component
      v-for="data in fetchData"
      :key="data.challenge_info ? data.challenge_info.cid : data.music_info.id"
      :title="data.challenge_info ? data.challenge_info.cha_name : data.music_info.title"
      :type="data.challenge_info ? 'hashtag' : 'music'"
      :description="data.challenge_info ? data.challenge_info.desc : ''" 
      :id-challenge="data.challenge_info ? data.challenge_info.cid : data.music_info.id_str"
      :videos="data.aweme_list" />
    </div>
    <infinite-loading @infinite="infiniteHandler" force-use-infinite-wrapper="true">
      <span slot="no-more">
        No more
      </span>
    </infinite-loading>
  </div>
</template>

<script>
import CardVideoComponent from '@/components/Templates/CardVideoComponent'
import InfiniteLoading from 'vue-infinite-loading'
export default {
  name: 'HomeComponent',
  components: {
    CardVideoComponent,
    InfiniteLoading
  },
  data() {
    return {
      fetchData: [],
      cursor: 0
    }
  },
  methods: {
    infiniteHandler($state) {
      fetch(`https://uchin.ml/api/home/${this.cursor}`).then(e => e.json()).then(e => {
        if (e.category_list.length == 0)
          $state.complete()
        e.category_list.forEach(e => {
          this.fetchData.push(e)
          $state.loaded()
        })
      })
      this.cursor ++
    }
  }
}
</script>
