<template>
  <div class="wrapper-content">
    <div class="wrapper-author-music">
      <h2 v-if="musicInfo !== null"><i class="icon-music"></i> {{ musicInfo }}</h2>
    </div>
    <div infinite-wrapper>
      <card-video-component
      type="music"
      :videos="fetchData" />
    </div>
    <infinite-loading @infinite="infiniteHandler" force-use-infinite-wrapper="true">
      <span slot="no-more">
        No more
      </span>
    </infinite-loading>
  </div>
</template>

<script>
import CardVideoComponent from '@/components/Templates/CardVideoComponent'
import InfiniteLoading from 'vue-infinite-loading'
export default {
  components: {
    CardVideoComponent,
    InfiniteLoading
  },
  data() {
    return {
      params: null,
      fetchData: [],
      cursor: 0,
      musicInfo: null
    }
  },
  methods: {
    infiniteHandler($state) {
      let id = this.$route.params.id
      this.params = this.$route.params
      fetch(`https://uchin.ml/api/music/${id}/${this.cursor}`).then(e => e.json()).then(e => {
        let first = e.aweme_list[0]
        if (e.aweme_list.length == 0)
          $state.complete()
        e.aweme_list.forEach(e => {
          this.fetchData.push(e)
        })
        this.musicInfo = first.music ? first.music.music_name : ''
        $state.loaded()
      })
      this.cursor ++
    }
  }
}
</script>
