<template>
  <div class="wrapper-content">
    <template v-if="userInfo !== null">
      <div class="wrapper-user-info">
        <div class="row">
          <div class="col-lg-4 col-md-6">
              <img :src="userInfo.avatar_larger.url_list[0].replace('http://', 'https://')" alt="" class="avatar-img">
          </div>
          <div class="col-lg-8 col-md-6">
            <h2>{{ userInfo.nickname }}</h2>
            <h4>Follower: <strong>{{ userInfo.follower_count }}</strong> Following: <strong>{{ userInfo.following_count }}</strong></h4>
            <h4 v-if="userInfo.location !== ''">Location: <strong>{{ userInfo.location }}</strong></h4>
            <h4>Signature: <strong>{{ userInfo.signature }}</strong></h4>
            <h3>
              <span><i class="icon-video"></i> <strong>{{ userInfo.aweme_count }}</strong> </span>
              <span><i class="icon-heart-empty"></i> <strong>{{ userInfo.total_favorited }}</strong> </span>
            </h3>
            <h4>
              <a target="_blank" :href="'https://youtube.com/channel/' + userInfo.youtube_channel_id" v-if="userInfo.youtube_channel_id !== ''"><i class="icon-youtube-play"></i> {{userInfo.youtube_channel_title}}</a>
              <a target="_blank" :href="'https://twitter.com/' + userInfo.twitter_name" v-if="userInfo.twitter_id !== ''"><i class="icon-twitter"></i> {{userInfo.twitter_name}}</a>
            </h4>
          </div>
        </div>
      </div>
    </template>
    <div infinite-wrapper>
      <card-video-component
      type="hashtag"
      :videos="fetchData" />
    </div>
    <infinite-loading @infinite="infiniteHandler" force-use-infinite-wrapper="true">
      <span slot="no-more">
        No more
      </span>
    </infinite-loading>
  </div>
</template>

<script>
import CardVideoComponent from '@/components/Templates/CardVideoComponent'
import InfiniteLoading from 'vue-infinite-loading'
export default {
  components: {
    CardVideoComponent,
    InfiniteLoading
  },
  data() {
    return {
      params: null,
      fetchData: [],
      cursor: 0,
      userInfo: null
    }
  },
  methods: {
    infiniteHandler($state) {
      let id = this.$route.params.id
      this.params = this.$route.params
      fetch(`https://uchin.ml/api/posts/${id}/${this.cursor}`).then(e => e.json()).then(e => {
        if (e.aweme_list.length == 0)
          $state.complete()
        e.aweme_list.forEach(e => {
          this.fetchData.push(e)
        })
        this.cursor = e.max_cursor
        $state.loaded()
      })
    }
  },
  mounted() {
    let id = this.$route.params.id
    fetch(`https://uchin.ml/api/detail_user/${id}`).then(e => e.json()).then(e => {
      this.userInfo = e.user
    })
  }
}
</script>


<style scoped>
  .avatar-img {
    width: 100%;
  }
</style>
