<template>
  <div id="app">
    <div class="container">
      <header-component />
      <router-view/>
    </div>
  </div>
</template>

<script>
import HeaderComponent from '@/components/Includes/HeaderComponent'
export default {
  name: 'App',
  components: {
    HeaderComponent
  }
}
</script>

<style>
body {
  font-family: 'Source Sans Pro', sans-serif !important;
  font-weight: 300;
}
h1,h2,h3,h4,h5,h6,a {
  font-weight: 300;
}
.wrap-loading {
  text-align: center;
}
</style>
